
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


html{
    scroll-behavior:smooth;
}

*,*::before,*::after{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

/* Loading div at the bottom with smooth transition */
.loading {
    position: fixed;
    bottom: -100px; /* Initially out of view */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    padding: 10px 20px;
    font-size: 26px;
    transition: bottom 0.5s ease-in-out; /* Smooth transition */
    z-index: 1000;
    width: 100%;
    padding: 30px;

    display: flex;
    justify-content: center;
}
.loading p{
    margin-bottom: 0;
}

.success{
    text-align: center;
    color: green;
}
  
/* When loading is active, slide it into view */
.loading-active {
    bottom: 0px; /* Adjust to where you want it to appear from the bottom */
}

.error{
    width: 100%;
    text-align: center;
    color: var(--red-color);
    margin-top: 10px;
}

:root {
    --purple-color: #730051;
    --blue-color: #00c6ff; 
    --neutral-color: #D9D9D9;
    --red-color: #980000;

    --font-family: "Roboto", sans-serif;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body{
    margin: 0;
    padding:0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    position: relative;
}

.loading-screen{
    background: #000000ed;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 1.2em;
    height: 100vh;
}

.body{
    position: relative;
}

img{
    max-width: 100%;
}
.header{
    /* background: purple; */
    color: #000000;

    /* padding:20px 10px 50px 10px; */
}
input,
select{
    display: block;
    margin-bottom: 1.25em;
    width: 100%;
    background: #c8c0a4e3;
  
    outline: none;
    border: none;
    padding: .2em;

    border: none;
    border-radius: 5px;
    background: #f5f5f5;
    outline: none;
}

.flex-title{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.flex-title .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 95%;

    padding: 20px 0;
}
.title{
    width: 100%;
}
.title-text{
    margin: 0;
    font-size: 13px;
}
.logo{
    align-self: flex-start;
    width: 20%;
}
.logo-image{
    width: 100%;
}
.humbuger-one,
.humbuger-two,
.humbuger-three{
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom:3px ;
}
.nav-one{
    background:#ffffff3e ;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    display: none;

    border-radius: 20px;
}
.signUp-btn,
.Login-btn,
.nav-link{
    background: #ffffff;
    color: #000000;
    padding: 5px 10px;
    font-size: .75rem;

    border-radius: 20px;
}

.nav{
    /* border: 2px solid red; */
    margin-top:10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    background-color: #730051;
    padding: 20px;
    text-align: center;
    color: #fff;

    text-transform: lowercase;
    font-size:.75rem;
    letter-spacing: 2px;
}

.hr{
    display: block;
    height: .5px;
    width: 80%;
    margin:  0 auto;
    opacity: .7;
    background: rgb(255, 255, 255);
}

.social--links{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    width: 50%;
    margin: 20px auto;
}
.social-link{
    color: #fff;
}

.nav-one--hidden{
    display: none;
}
.photo-passport--img{
    position: relative;

}
.photo-background--img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.photo-background--btn{
    position: absolute;
    bottom: -20px;
    right: 45%;
    border: 2px solid rgb(158, 158, 158);
    background:#d0d0d0;
    height: 40px;
    width: 40px;

    border-radius: 50px;
}
.photo-background--btn:hover{
    cursor: pointer;
}



@media(min-width:600px){


    .flex-title .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 70%;
    
        padding: 10px 0;
    }

    .logo{
        width: 60px;
        align-self: center;
    }
    .nav{
        display: none;
    }
    .nav-two{
        display: none;
    }
   .title-text{
        font-size: 1rem;
        display: flex;
        align-items: flex-end;
        margin: 0 0 5px 10px;
   }

   .nav-one--hidden{
    padding: 5px;
    display: flex;

    background-color:#ffffff47;
    justify-content: space-evenly;
   }

   .About-btn{
    align-self:center;
   }
   .Quick-links-btn{
    align-self: center;

    display: flex;
    
   }

   .side-bar--links{
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 300px; /* Adjust height as needed */
    opacity: 1;
   }

   .dropdown-toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .hr{
        width: 20%;
    }
    .social--links{
        width: 20%;
    }
    .signUp-btn,
    .Login-btn,
    .nav-link{
        color: #000000;
        padding: 5px 25px;
        font-size: 1rem;
    
    }
    .Quick-links-btn{
        align-self: center;
        position: relative;
    }

    .Quick-links-btn button{
        display: inline-block;
        padding: 0 25px 0 10px;
    }

    .nav-link-quick-link{
        color: #000000;
    }

    .user-icon:hover{
        cursor: pointer;
    }
}

