
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html{
    scroll-behavior:smooth;
}

*,*::before,*::after{
    box-sizing: border-box;
}


.error{
    width: 100%;
    text-align: center;
    color: var(--red-color);
    margin-top: 10px;
}


:root {
    --purple-color: #730051;
    --blue-color: #00c6ff; 
    --neutral-color: #D9D9D9;
    --red-color: #980000;

    --font-family: "Roboto", sans-serif;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body{
    margin: 0;
    padding:0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.loading-screen{
    background: #000000ed;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 1.2em;
    height: 100vh;
}

.body{
    position: relative;
}

img{
    max-width: 100%;
}
.header{
    /* background: purple; */
    background: linear-gradient(to top left, #230019, #730051);
    color: #fff;

    padding:20px 10px 50px 10px;
}
input,
select{
    display: block;
    margin-bottom: 1.25em;
    width: 100%;
    background: #c8c0a4e3;
  
    outline: none;
    border: none;
    padding: .2em;
}

.flex-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.title{
    width: 100%;

}
.title-text{
    margin-top: 0;
}
.logo{
    align-self: flex-start;
    width: 20%;
}
.logo-image{
    width: 100%;
}
.humbuger-one,
.humbuger-two,
.humbuger-three{
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom:3px ;
}
.nav-one{
    background:#ffffff3e ;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 90%;

    border-radius: 20px;
}
.signUp-btn,
.Login-btn,
.About-btn{
    background: #fff;
    color: rgb(6, 6, 6);
    padding: 5px 10px;
    font-size: .75rem;

    border-radius: 20px;
}

.nav{
    /* border: 2px solid red; */
    margin-top:10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.footer{
    background-color: #730051;
    padding: 20px;
    text-align: center;
    color: #fff;

    text-transform: lowercase;
    font-size:.75rem;
    letter-spacing: 2px;
}

.hr{
    display: block;
    height: .5px;
    width: 80%;
    margin:  0 auto;
    opacity: .7;
    background: rgb(255, 255, 255);
}

.social--links{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    width: 50%;
    margin: 20px auto;
}
.social-link{
    color: #fff;
}

.nav-one--hidden{
    display: none;
}
.photo-passport--img{
    position: relative;

}
.photo-background--img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.photo-background--btn{
    position: absolute;
    bottom: -20px;
    right: 45%;
    border: 2px solid rgb(158, 158, 158);
    background:#d0d0d0;
    height: 40px;
    width: 40px;

    border-radius: 50px;
}
.photo-background--btn:hover{
    cursor: pointer;
}



@media(min-width:600px){
    .header{
        padding: 40px  100px 50px 100px ;
    }
    .logo{
        width: 100px;
        align-self: center;
    }
    .nav{
        display: none;
    }
    .nav-two{
        display: none;
    }
   .title-text{
        font-size: 2.5rem;
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 20px;

        letter-spacing: 3px;
   }

   .nav-one--hidden{
    padding: 5px;
    display: flex;

    background-color:#ffffff47;
    justify-content: space-evenly;
   }

    .signUp-btn,
    .Login-btn,
    .About-btn{
        font-size: 1rem;
        padding: 5px 30px;
    }

    .hr{
        width: 20%;
    }
    .social--links{
        width: 20%;
    }
      
}

