.newsPageContainer{
    background-image: url(../assets/drummist.png);
    color: #fff;

    padding: 20px 0 ;
}

.newsPage{
    margin: 0 auto;
    width: 80%;

    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.title{
    text-align: center;
    margin-bottom: 30px;
}


@media(min-width:600px) {

    .newsPageContainer{
        padding: 50px 0;
    }

    .title{
        margin-bottom: 50px;
        /* text-align: left;
        margin-left: 20%; */
    }

    .newsTextTitle{
        margin-bottom: 50px;
    }

    .newsPage{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .imageSection img{
        max-height: 100%;
    }

    .imageSection{
        height: 400px;

        width: 50%;
    }

    .contentText{
        width: 50%;
    }

    .contextTextP{
        width: 80%;
        margin: 0 auto;

        font-size: 20px;
    }

}
