.container{
    margin: 20px auto;
    width: 96%;
}

@media(min-width:600px){
    .container{
        margin: 20px auto;
        width: 70%;
    }
}

/* steewardships of finances */
/* budgeting and saving culture  { 2nd Corinthians }*/
/* finantial management skills */
/* discipline of simplicity */
/* tracking of expences */


/* givers */
/* The discipline of simplicity */
/* Tracking of expences { Be accountable } */

/* Conclution from Jesus*/
/* Don't put your faith in money - Dont place your heart in money*/
/* Money cant be solved by lifes bigest problems */


