@import url(../styles/global.css);

*,::before,::after{
  box-sizing: border-box;
}

.logo{
  margin-top: 10px;
  display: block;
  text-align: center;
}
.container {
  width: 90%;
  margin:0 auto ;
}

.title,
.title-sub,
.sub-title{
  text-align: center;
}

.row input{
  margin-bottom: 10px;
}

.title{
  margin: 30px 10px 10px 10px;
  font-size: 18px;
  width: inherit;
}

.title-sub{
  margin-top: 0px;
  color: #730051;
  font-size: 16px;
}
.sub-title{
  font-size: 18px;
  margin-top: 30px;
}

#postForm{
  padding: 1em  3em;
  background: #F5ECC9;
}

.submit-btn{
  background: #00C6FF;
  border: 0;
  padding: .25em .75em;
  border-radius: 5px;
  margin: 10px auto;
}
th{
  text-align: left;
}

table{
  width: 100%;

}
.flex{
  display: block;
}
.flex label{
  font-size: 18px;
}

.wonSoulsStatus,
.numberWon{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.numberWon{
  margin-bottom: 20px;
}

.submit-btn{
  font-size: 18px;
  font-weight: 600;
}
  
@media(min-width:700px){
  .flex{
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      gap: 200px;
  }
  .row{
      width: 70%;
  }
}
@media(min-width:1100px){
  .container{
      width: 30%;
  }
  .title{
    width: 100%;
    font-size: 25px;
  }
}
  
  
  
  
  
  