@import url(global.css);
@import url(../styles/signup.module.css);

.body{
    background-image: url("../assets/loginbg.png");
}

.container{
    box-shadow: var(--bs);
    border-radius: 50px;
    background: #fff;
    padding: 20px 0;
}
.submisions{
    padding-bottom: 20px;
}


.body{
    height: calc(100vh + 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    margin: 20px 0;
}

.logo_signUp{
    background-color: transparent;
}